---
layout: projects
title: Projekte
permalink: /projects/
---

<h1>Projekte</h1>

{% if site.projects.size == 0 %}
<p>Keine Einträge vorhanden.</p>
{% else %}
<div class="flex flex-col space-y-2.5">
  {% assign projects = site.projects | sort: "started" %}
  {% for project in projects %}
  <div class="px-4 py-4 bg-gray-100 rounded dark:bg-zinc-800">
    <div class="pb-0.5 text-base font-normal dark:text-gray-300">
      {{ project.category }} | {{ project.started }}{% if project.status %} | Status: {{ project.status }}{% endif %}
    </div>
    <h2 class="w-fit"><a href="{{ post.url }}" class="hover:underline">
        <a href="{{ project.url }}">{{ project.title }}</a>
    </h2>
    <div class="flex flex-col text-gray-700 dark:text-gray-200">
      <div class="text-base font-normal md:text-lg">{{ project.description }}</div>
      <!-- <div class="text-base font-normal md:text-lg">Gebaut mit: {{ project.techstack }}</div> -->
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}