---
layout: projects
title: Projekte
permalink: /projects/
---

<h1>Projekte</h1>

{% if site.projects.size == 0 %}
  <p>Keine Einträge vorhanden.</p>
{% else %}
    {% for project in site.projects %}
    <a href="{{ project.url }}">
      <div class="dark:hover:bg-zinc-800 hover:bg-gray-200 py-4 px-4 rounded">
      <h6>{{ project.started }} | {{ project.status }}</h6>
      <h2>{{ project.title }}</h2>
      <div class="flex flex-col dark:text-gray-200 text-gray-700 space-y-2.5">
        <div>{{ project.description }}</div>
      </div>
    </div>
  </a>
    {% endfor %}
{% endif %}

