---
layout: blog
---

<h1>Weblog</h1>
{% assign psize = site.posts | size %}
{% if psize == 0 %}
Kein Einträge vorhanden.
{% else %}
<div class="flex flex-col space-y-2.5">
    {% for post in paginator.posts %}
    <a href="{{ post.url }}">
        <div class="px-4 py-4 rounded dark:hover:bg-zinc-800 hover:bg-gray-100">
            <div class="pb-0.5 text-base font-normal dark:text-gray-300">{{ post.date | date: "%d.%m.%Y" }} | {{
                post.category | capitalize }}</div>
            <h2>{{ post.title }}</h2>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}