<aside class="flex mb-5 w-1/2 justify-normal md:mb-0 md:justify-end">
    <div class="flex flex-col items-center">
        <div class="mb-5">
            <img src="/assets/img/profil.webp" class="object-cover h-72 rounded-full">
        </div>
        <div class="flex flex-col items-center mb-2 space-y-0.5">
            <div class="px-6 text-2xl font-medium md:px-0">
                <a href="/">Björn Kawecki</a>
            </div>
            <div>Slawist und Webentwickler</div>
        </div>
        <div class="flex justify-center mb-6 space-x-2">
            <a href="/"
                class="{% if page.url == '/' or page.url contains '/page' %}font-bold {% endif %}text-blue2-600 hover:underline">Weblog</a><span>&middot;</span>
            <a href="/projects/"
                class="{% if page.url == '/projects/' %}font-bold {% endif %}text-blue2-600 hover:underline">Projekte</a>
            <span>&middot;</span>
            <a href="/about/"
                class="{% if page.url == '/about/' %}font-bold {% endif %}text-blue2-600 hover:underline">Über
                mich</a>
        </div>
        {% include footer.html %}
    </div>

</aside>