<aside class="flex-col items-center mb-3 md:mb-0 h-fit md:top-10 md:sticky">
  <div class="flex justify-center mb-5">
    <img
      src="/assets/img/profil-1.webp"
      class="object-cover h-48 rounded-full md:h-72"
    />
  </div>
  <div class="flex flex-col items-center mb-2 space-y-0.5">
    <div class="px-6 text-2xl font-medium md:px-0">
      <a href="/">Björn Kawecki</a>
    </div>
    <div>Slawist und Webentwickler</div>
  </div>
  <div class="flex justify-center mb-6 space-x-2">
    <a
      href="/"
      class="{% if page.url == '/' %}font-bold {% endif %}text-azure-500 hover:underline dark:text-purple-500"
      >Über mich</a
    >
    <span>&middot;</span>
    <a
      href="/projects/"
      class="{% if page.url == '/projects' or page.url == '/projects/' %}font-bold {% endif %}text-azure-500 hover:underline dark:text-purple-500"
      >Projekte</a
    >
    <span>&middot;</span>
    <a
      href="/blog/"
      class="{% if page.url contains '/blog/' %}font-bold {% endif %}text-azure-500 dark:text-purple-500 hover:underline"
      >Blog</a
    >
  </div>
  {% include footer.html %}
</aside>
