<div class="mt-10 flex items-center ">
    {% if paginator.previous_page %}
    <div class="flex items-center">
        <a href="{{ paginator.previous_page_path }}"
            class="text-white bg-blue2-600  focus:ring-2 focus:ring-blue2-500 font-medium rounded text-sm focus:outline-none hover:bg-blue2-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-10 h-6 fill-white hover:fill-white">
                <title>Vorherige Seite</title>
                <path d="M20,9V15H12V19.84L4.16,12L12,4.16V9H20Z" />
            </svg>
        </a>
    </div>
    {% endif %}
    <div class="px-3">
        Seite {{ paginator.page }} von {{ paginator.total_pages }}
    </div>
    {% if paginator.next_page %}
    <div class="flex items-center">
        <a href="{{ paginator.next_page_path }}"
            class="text-white bg-blue2-600  focus:ring-2 focus:ring-blue2-500 font-medium rounded text-sm focus:outline-none hover:bg-blue2-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-10 h-6 fill-white hover:fill-white">
                <title>Nächste Seite</title>
                <path d="M4,15V9H12V4.16L19.84,12L12,19.84V15H4Z" />
            </svg>
        </a>
    </div>
    {% endif %}
</div>