<div class="flex items-center justify-center mt-10">
  {% if paginator.previous_page %}
  <div class="flex items-center">
    <a
      href="{{ paginator.previous_page_path }}"
      class="text-sm font-medium text-white rounded bg-gray-700 focus:ring-2 focus:ring-gray-300 focus:outline-none transition hover:bg-gray-800 dark:bg-zinc-700 dark:focus:ring-zinc-500 dark:hover:bg-zinc-600"
    >
      {% include icons/chevron-left.html class="w-6 h-6 fill-white hover:fill-white dark:fill-zinc-900 dark:hover:fill-zinc-900" title=site.data[site.active_lang].strings.pagination.previous_page %}
    </a>
  </div>
  {% endif %}
  <div class="px-3">
    {{ site.data[site.active_lang].strings.pagination.page}} {{ paginator.page }} {{ site.data[site.active_lang].strings.pagination.of}} {{ paginator.total_pages }}
  </div>
  {% if paginator.next_page %}
  <div class="flex items-center">
    <a
      href="{{ paginator.next_page_path }}"
      class="text-sm font-medium text-white rounded bg-gray-700 focus:ring-2 focus:ring-gray-300 focus:outline-none transition hover:bg-gray-800 dark:bg-zinc-700 dark:focus:ring-zinc-500 dark:hover:bg-zinc-600"
    >
      {% include icons/chevron-right.html class="w-6 h-6 fill-white hover:fill-white dark:fill-zinc-900 dark:hover:fill-zinc-900" title=site.data[site.active_lang].strings.pagination.next_page %}
    </a>
  </div>
  {% endif %}
</div>
