{% assign current_lang = site.active_lang | default: site.default_lang | default: 'de' %}
{% assign all_posts = site.posts | where: "lang", current_lang | sort: "date" | reverse %}
{% assign current_index = nil %}

{% for post in all_posts %}
  {% if post.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% if current_index != nil %}
<div class="not-prose mt-10 flex justify-between gap-6 text-sm font-semibold">
  {% assign next_index = current_index | minus: 1 %}
  {% if next_index >= 0 %}
    {% assign next_post = all_posts[next_index] %}
    <a
      class="text-accent-600 transition hover:text-accent-500 dark:text-accent-400 dark:hover:text-accent-700"
      href="{{ next_post.url }}"
    >{{ site.data[current_lang].strings.pagination.next_post }}</a>
  {% else %}
    <span></span>
  {% endif %}

  {% assign prev_index = current_index | plus: 1 %}
  {% if prev_index < all_posts.size %}
    {% assign prev_post = all_posts[prev_index] %}
    <a
      class="ml-auto text-accent-600 transition hover:text-accent-500 dark:text-accent-400 dark:hover:text-accent-700"
      href="{{ prev_post.url }}"
    >{{ site.data[current_lang].strings.pagination.previous_post }}</a>
  {% endif %}
</div>
{% endif %}
