{% assign all_posts = site.posts | sort: 'date' | reverse %}
{% assign current_index = nil %}

{% for post in all_posts %}
  {% if post.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

<div class="flex justify-between mt-10">
  {% comment %} Vorvorheriger Post (2 Positionen vor current) {% endcomment %}
  {% if current_index != nil %}
    {% assign prev_prev_index = current_index | minus: 2 %}
    {% if prev_prev_index >= 0 %}
      {% assign prev_prev_post = all_posts[prev_prev_index] %}
      <a class="basis-1/2" href="{{ prev_prev_post.url }}">{{ site.data[site.active_lang].strings.pagination.next_post }}</a>
    {% else %}
      <div class="basis-1/2"></div>
    {% endif %}
  {% endif %}

  {% comment %} Übernächster Post (2 Positionen nach current) {% endcomment %}
  {% if current_index != nil %}
    {% assign next_next_index = current_index | plus: 2 %}
    {% if next_next_index < all_posts.size %}
      {% assign next_next_post = all_posts[next_next_index] %}
      <a class="basis-1/2 text-right" href="{{ next_next_post.url }}">{{ site.data[site.active_lang].strings.pagination.previous_post }}</a>
    {% else %}
      <div class="basis-1/2"></div>
    {% endif %}
  {% endif %}
</div>
