<!DOCTYPE html>
<html lang="de">
  <head>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta
      property="og:description"
      content="{{ page.description | default: site.description | escape }}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% include head.html %}
  </head>

  <body class="text-gray-700 bg-gray-50 dark:bg-zinc-900 dark:text-gray-200">
    <main class="px-5 mx-auto md:w-1/2 lg:w-1/3 md:px-0" aria-label="Content">
      <div class="flex flex-col justify-center mt-10 space-x-0 md:space-x-10">
        <div>
          {% include header.html link="/blog/" name="Zur Übersicht" %}
          <div
            class="prose-a:font-semibold prose-a:no-underline prose prose-p:my-0 prose-sm md:prose dark:prose-p:text-gray-200 prose-a:text-azure-500 dark:prose-a:text-purple-500 prose-headings:text-gray-700 prose-h2:mt-0 prose-h2:mb-2 dark:prose-headings:text-gray-200"
          >
            <h1>Kategorie: {{ page.title }}</h1>
            <ul class="posts">
              {% for post in page.posts %}
              <li>
                <span class="text-gray-700 dark:text-gray-200"
                  >{{ post.date | date: "%d.%m.%Y" }} |
                </span>
                <a class="hover:underline" href="{{ post.url | relative_url }}"
                  >{{ post.title }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
