<!DOCTYPE html>
{% assign current_lang = site.active_lang | default: site.default_lang | default: 'de' %}
<html lang="{{ current_lang }}">
  <head>
    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta
      property="og:description"
      content="{{ page.description | default: site.description | escape }}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% include head.html %}
  </head>

  <body class="text-gray-700 bg-gray-50 dark:bg-zinc-900 dark:text-gray-200">
    {% include site-header.html %}
    <main
      id="main-content"
      class="flex flex-col gap-16 px-5 py-12 mx-auto max-w-6xl md:px-8"
      aria-label="Content"
    >
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
