<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="bg-gray-50 text-gray-700 font-sans">
    <main class="w-fit mx-auto px-5 md:px-0" aria-label="Content">
        <div class="flex flex-col justify-center mt-10 md:space-x-10 space-x-0">
            <div
                class="prose prose-a:text-blue2-600 prose-a:font-semibold prose-headings:text-gray-700 prose-headings:font-bold prose-h4:font-medium prose-sm md:prose">
                {% include header.html %}
                <h4>{{ page.date | date: "%d.%m.%Y" }} | {{ page.category }}</h4>
                <h1>{{ page.title }}</h1>
                {{ content }}
                {% include post_pagination.html %}
                {% include footer.html %}
            </div>
        </div>
    </main>
</body>

</html>