<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:locale" content="de_DE" />
    <meta property="og:image" content="/assets/img/profil-1.webp" />
    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta
      property="og:description"
      content="{{ page.description | site.description | default: site.description | escape }}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% include head.html %}
  </head>
  <body class="text-gray-700 bg-gray-50 dark:bg-zinc-900 dark:text-gray-200">
    <main class="px-5 mx-auto md:w-1/2 lg:w-1/3 md:px-0" aria-label="Content">
      <div class="flex flex-col justify-center mt-10 space-x-0 md:space-x-10">
        <div
          class="prose-li:list-disc prose-a:text-blue2-600 dark:prose-strong:text-gray-200 dark:prose-a:dark:text-emerald-500 prose-h1:mt-3 prose-a:underline prose-headings:text-gray-700 prose-headings:font-bold prose-h4:font-medium prose-p:text-lg prose-sm md:prose prose-li:text-lg dark:prose-headings:text-gray-200 dark:prose-ul:text-gray-200 dark:prose-ol:text-gray-200 dark:prose-p:text-gray-200 dark:prose-table:text-gray-200"
        >
          {% include header.html link="/projects/" name="Zur Übersicht" %}
          <div class="text-base font-normal dark:text-gray-300">
            {{ page.category }} | {{ page.started }}{% if page.status %} |
            Status: {{ page.status }}{% endif %}
          </div>
          <h1 class="text-2xl md:text-4xl">{{ page.title }}</h1>
          {{ content }} {% include footer.html %}
        </div>
      </div>
    </main>
  </body>
</html>
